<!-- Barra de menu -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Porta de Serviços internos Jucetins</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark">Cleiton Luiz</a>
    </nav>
    <img src="../../assets/user.jpg" class="rounded-circle border" style="width: 45px;">
</div>
<!-- Conteudo -->
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subtitulo do card</h6>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="card-link">Link do card</a>
      <a href="#" class="card-link">Outro link</a>
    </div>
</div>